/nb-configuration.xml
/npm-debug.log
/target
webapp/D:
webapp/coverage
webapp/nb-configuration.xml
webapp/node_modules
webapp/npm-debug.log
webapp/src/main/webapp/bower_components
webapp/src/main/webapp/bundle*.js
webapp/src/main/webapp/node_modules
webapp/target
/phantomjs/target/
/webapp/node_modules
/webapp/node_modules_new
/webapp/node_modules_old
/webapp/jenkins-build/bundle.app.js
/webapp/dist
/webapp/fonts
/webapp/axios.wrapper.js
/webapp/bundle.app.js
/webapp/constants.js
/webapp/index.html
/webapp/index.js
/webapp/main.js
/webapp/styles/
/webapp/style.css
*.log*
/webapp/jenkins-build/logs/
*.war

# Intellij
.idea/
*.iml
*.iws

# Eclipse
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.classpath
.recommenders

# Visual Code
\.vscode
\.project
webapp/\.settings/org\.eclipse\.m2e\.core\.prefs
webapp/\.classpath
webapp/\.settings/org\.eclipse\.core\.resources\.prefs
webapp/\.settings/org\.eclipse\.jdt\.core\.prefs
\.DS_Store
webapp/webapp\.log
